Flask==0.10.1
Flask-Cache==0.12
Flask-OpenID==1.1.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
Werkzeug==0.9.3
itsdangerous==0.23
python-openid==2.2.5
requests==1.2.3
wsgiref==0.1.2
