{% extends "layout.html" %}
{% block title %}Clan Statistics{% endblock %}
{% block head %}
    {{super()}}
    <script src="{{url_for('static', filename='js/vendor/raphael-min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/vendor/g.raphael-min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/vendor/g.pie-min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/vendor/g.bar-min.js')}}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.time.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            var r = Raphael(document.getElementById('maps'), 300, 300);
            var pie = r.piechart(150, 150, 130, [{% for mb in map_battles %} {{ mb.1 }}, {%endfor%}], {
                minPercent: 3,
                maxSlices: 10,
                legend: [{% for mb in map_battles %} "{{ mb.0 }} ({{ ((mb.1 / total_battles * 100.0) if total_battles > 0 else 0)|int }} %)", {%endfor%}],
                strokewidth: 0
            });

            pie.each(function() {
                r.label(this.x, this.y, this.label[1].attrs.text).attr([{
                    fill : "transparent"
                }, {
                    fill : "black"
                }]).attr({font: "11px 'Open Sans'"});
            });

            var maps_wr = [
             {% for map_wr in win_ratio_by_map|dictsort(by="value")|reverse %}
             {
              data: [["{{map_wr.0}}", {{(map_wr.1 * 100.0)|round|int}}]],
              color: "{{"green" if map_wr.1 > 0.66 else "orange" if map_wr.1 > 0.33 else "red"}}",
             },
             {% endfor %}
            ];

            $.plot("#maps_wr", maps_wr, {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        align: "center"
                    }
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0,
                    tickLength: 0,
                },
                yaxis: {
                    min: 0,
                    max: 100,
                    ticks: 10
                }
            });

            {% if STATISTICS_VISIBLE.win_rate_by_commander %}
            var commander_wr = [
             {% for c_wr in win_ratio_by_commander|dictsort(by="value")|reverse %}
             {
              data: [["{{c_wr.0.name}}", {{(c_wr.1 * 100.0)|round|int}}]],
              color: "lightblue",
             },
             {% endfor %}
            ];

            $.plot("#commander_wr", commander_wr, {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        align: "center"
                    }
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0,
                    tickLength: 0
                },
                yaxis: {
                    min: 0,
                    max: 100,
                    ticks: 10
                }
            });
            {% endif %}


            var enemy_wr = [
             {% for c_wr in win_ratio_by_enemy_clan|dictsort(by="value")|reverse %}
             {
              data: [["{{c_wr.0}} ({{wins_by_enemy[c_wr.0]}}/{{battles_by_enemy[c_wr.0]}})", {{(c_wr.1 * 100.0)|round|int}}]],
              color: "{{"green" if c_wr.1 > 0.66 else "orange" if c_wr.1 > 0.33 else "red"}}",
             },
             {% endfor %}
            ];

            $.plot("#enemy_wr", enemy_wr, {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        align: "center"
                    }
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0,
                    tickLength: 0
                },
                yaxis: {
                    min: 0,
                    max: 100,
                    ticks: 10
                }
            });

            var battles_per_day = [
             {% for bpd in battles_per_day %}
               [{{bpd.0}}, {{bpd.1}}],
             {% endfor %}
            ];

            $.plot("#battles_per_day",  [battles_per_day] , {
                xaxis: {
                    mode: "time",
                    timeformat: "%e %b",
                    minTickSize: [1, "day"],
                },
                yaxis: {
                    min: 0,
                    tickSize: 1,
                    tickDecimals: 0
                }
            });

        });
    </script>
{% endblock %}
{% block content %}
    <h2>Clan Statistics of <img style="width: 32px; height:32px;" src="{{url_for('static', filename='img/clanicons/' + clan + '.png')}}"> {{clan}}</h2>
    <div class="row">
        <div class="panel panel-default">
        <div style="min-height: 170px;" class="panel-body">
            <div class="col-lg-4">
                <h4>Total</h4>
                <ul>
                    <li>played: {{ battles|length }}</li>
                    <li>won: {{ battles_won }} ({{ ((battles_won / total_battles * 100.0) if total_battles > 0 else 0)|int }}%)</li>
                </ul>
                <h4>Last 7 Days</h4>
                <ul>
                    <li>played: {{ battles_one_week|length }}</li>
                    <li>won: {{ battles_one_week_won }} ({{ ((battles_one_week_won / (battles_one_week|length) * 100.0) if battles_one_week else 0)|int }}%)</li>
                </ul>
                <h4>Last 30 Days</h4>
                <ul>
                    <li>played: {{ battles_thirty_days|length }}</li>
                    <li>won: {{ battles_thirty_days_won }} ({{ (((battles_thirty_days_won / (battles_thirty_days|length) * 100.0)) if battles_thirty_days else 0)|int }}%)</li>
                </ul>
            </div>
            <div class="col-lg-8 text-center">
                <h4>Maps Played</h4>
                <div id="maps"></div>
            </div>
        </div></div>
    </div>

    <div class="row">
        <div class="panel panel-default">
        <div style="min-height: 170px;" class="panel-body">
        <div class="col-lg-6">
            <h4 class="text-center">Players Left</h4>
            <ul>
                {% for player in players_left[:10] %}
                <li>{{ player.lock_date.strftime('%d.%m.%Y')}}: {{player.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-6">
            <h4 class="text-center">Players Joined</h4>
            <ul>
                {% for player in players_joined[:10] %}
                <li>{{player.member_since.strftime('%d.%m.%Y')}}: {{player.name}}</li>
                {% endfor %}
            </ul>
        </div>
        </div></div>
    </div>

    <div class="row">
        <div class="panel panel-default">
        <div style="min-height: 170px;" class="panel-body">
            <div class="col-lg-12">
                <h4>Maps played</h4>
                <table class="table table-striped">
                    <thead>
                        <tr><th>Map</th><th>Times played</th></tr>
                    </thead>
                    <tbody>
                    {% for map in map_battles|reverse %}
                    <tr><td>{{map.0}}</td><td>{{map.1}}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div></div>
    </div>

    <div class="row">
        <div class="panel panel-default">
        <div style="min-height: 170px;" class="panel-body">
            <div class="col-lg-12">
                <h4>Battles per Day</h4>
                <div id="battles_per_day" style="height: 300px"></div>
            </div>
        </div></div>
    </div>
    <div class="row">
        <div class="panel panel-default">
        <div style="min-height: 170px;" class="panel-body">
            <div class="col-lg-12">
                <h4>Win Rate by Map</h4>
                <div id="maps_wr" style="height: 300px"></div>
            </div>
        </div></div>
    </div>
    {% if STATISTICS_VISIBLE.win_rate_by_commander %}
    <div class="row">
        <div class="panel panel-default">
        <div style="min-height: 170px;" class="panel-body">
            <div class="col-lg-12">
                <h4>Win Rate by Commander (with more than 10 battles)</h4>
                <div id="commander_wr" style="height: 300px"></div>
            </div>
        </div></div>
    </div>
    {% endif %}
    <div class="row">
        <div class="panel panel-default">
        <div style="min-height: 170px;" class="panel-body">
            <div class="col-lg-12">
                <h4>Win Rate Against Clans (more than {{battle_count_cutoff}} battle{{'s' if battle_count_cutoff != 1 else ''}})</h4>
                <div id="enemy_wr" style="height: 300px"></div>
            </div>
        </div></div>
    </div>
{% endblock %}
