{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <h2>Clan Wars of {{', '.join(g.clans)}}</h2>
    <p>
        Welcome to our clan wars tracker.{% if not g.player %} Please <a href="{{url_for('login')}}">log in</a> to get access.{% endif %}
    </p>
    {% if g.player %}
        <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
          <div style="min-height: 170px;" class="panel-body">
            <h4 class="text-center">Latest Battles of {{g.player.clan}}</h4>
            {% if latest_battles %}
            <ul>
            {% for battle in latest_battles %}
            <li><span class="{{battle.outcome_repr()}}">{{battle.outcome_str()}}</span> against {{battle.enemy_clan}} on {{battle.map_name}}, <a href="{{url_for('battle_details', battle_id=battle.id)}}">{{battle.date|pretty_date}}</a>
            {% endfor %}
            </ul>
            {% else %}
                No battles yet.
            {% endif %}

          <h4 class="text-center">Scheduled Battles</h4>
            {% if scheduled_battles %}
                <table class="table">
                <tbody>
                {% for battle in scheduled_battles %}
                <tr>
                    <td><img style="margin-right: 5px; width: 16px; height:16px;" src="{{url_for('static', filename='img/swords.png')}}"></td>
                    <td>{% for p in battle.provinces %}<a href="{{g.MAP_URL}}?province={{p.id}}">{{p.name}}</a>{% if loop.index < battle.provinces|length %} - {%endif%}{% endfor %}</td>
                    <td style="{% if battle.time and battle.time < datetime.datetime.now() %}color: #555{% endif %}">{% if battle.time %}{{battle.time|pretty_date + (' or later' if not battle.started else '')}} {%else%}today{%endif%}</td>
                    <td>{% for map in battle.maps %}{{map.name}} {% if loop.index < battle.maps|length %} or {%endif%}{% endfor %}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            {% else %}
                No battles scheduled yet. Check the Global Map for chip placement.
            {% endif %}
          </div>
          </div>
        </div>
        </div>

        {% if provinces_owned and provinces_owned['items'] %}
        <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
              <div style="min-height: 170px;" class="panel-body">
                <h4 class="text-center">Provinces owned</h4>
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Province</th>
                            <th>Map</th>
                            <th>Prime Time</th>
                            <th><img style="margin-left: 5px; width: 16px; height:16px;" src="{{url_for('static', filename='img/gold_coin_stack.png')}}"></th>
                            <th>Time Owned</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in provinces_owned['items'] %}
                    <tr>
                        <td><a href="{{item.url}}">{{item.name}}</a></td>
                        <td>{{item.arena_name}}</td>
                        <td>{{datetime.datetime.fromtimestamp(item.prime_time).strftime('%H:%M')}}</td>
                        <td style="color: gold">{{item.revenue}}</td>
                        <td>{{item.occupancy_time}} day{{'s' if item.occupancy_time != 1 else '' }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="color: gold">{{ total_revenue }}</td>
                        <td></td>
                    </tr>
                    </tbody>
                    </table>
              </div>
              </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}
