{% extends "layout.html" %}
{% block title %}Payout battles{% endblock %}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
    <form>
        <input type="hidden" name="fromDate" value="{{fromDate}}">
        <input type="hidden" name="toDate" value="{{toDate}}">
        <input type="hidden" name="gold" value="{{gold}}">
        {% if victories_only %}
        <input type="hidden" name="victories_only" value="on">
        {% endif %}
    </form>
    <h3>Summary of {{gold}} gold to pay out for {{battles|length}} battle{{'s' if battles|length != 1 else ''}}</h3>
    <p><strong>TODO</strong> This page should help the treasurer pay out the gold for the selected battles (e.g. battles
        of one week at a time). He could of course also only pay battle per battle. etc.
    </p>
    <p>Current implementation:
        Gold is split evenly across battles.
        For each battle, every player gets 4 times as much gold as every reserve.
        If there were no players in reserve, the gold is divided evenly amongst the players, obviously.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th># battles played</th>
                <th># battles reserve</th>
                <th>Gold to pay</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{player.name}}</td>
                <td>{{player_played[player]}}</td>
                <td>{{player_reserve[player]}}</td>
                <td>{{player_gold[player]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}