{% extends "layout.html" %}
{% block title %}Players of {{ clan }}{% endblock %}
{% block head %}
    {{super()}}
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/dataTables.bootstrap.js')}}" type="text/javascript"></script>
    <link href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}" rel="stylesheet" media="screen">

    <script type="text/javascript">
        $(document).ready(function () {

            $('#players').dataTable({
                "oLanguage": {
                    "sLengthMenu": "Display _MENU_ players per page",
                    "sZeroRecords": "No players yet.",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ players",
                    "sInfoEmpty": "Showing 0 to 0 of 0 players",
                    "sInfoFiltered": "(filtered from _MAX_ total player)"
                },
                "aoColumns": [
                    null,
                    null,
                    { "sType": "date-euro"},
                    null,
                    null,
                    null,
                    null,
                    null
                ]
            });

            $('#players_filter label input').addClass('form-control');
            $('#players_length label select').addClass('form-control');
        });
    </script>
{% endblock %}
{% block content %}
  <h2>Players of {{ clan }} <img style="height: 32px; width: 32px;" src="{{url_for('static', filename='img/clanicons/' + clan + '.png')}}"></h2>
  <table id="players" class="table table-striped">
      <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Member Since</th>
            <th>#played</th>
            <th>#reserve</th>
            <th>#played / #total</th>
            <th>#present / #total</th>
            <th><img style="width: 16px; height:16px;" src="{{url_for('static', filename='img/gold_coin_stack.png')}}"> Gold earned</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr>

            <td><a title="{{player.name}}" href="{{url_for('player', player_id=player.id)}}">{{player.name}}</a></td>
            <td><span class="{{player.role}}">{{g.roles[player.role]}}</span></td>
            <td>{{player.member_since.strftime('%d.%m.%Y %H:%M')}}</td>
            <td>{{played[player]}}</td>
            <td>{{reserve[player]}}</td>
            <td>{{'%i' % (played[player] / possible[player] * 100.0 if possible[player] else 0)}} %</td>
            <td>{{'%i' % (present[player] / possible[player] * 100.0 if possible[player] else 0)}} %</td>
            <td>{{player.gold_earned}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

{% endblock %}