{% extends "layout.html" %}
{% block title %}[{{player.clan}}] {{ player.name  }}{% endblock %}
{% block content %}
  <h2><img style="height: 32px; width: 32px;" src="{{url_for('static', filename='img/clanicons/' + player.clan + '.png')}}"> <span class="{{player.role}}">{{player.name}}</span></h2>
  <dl>
      <dt>Position</dt>
      <dd><span class="{{player.role}}">{{g.roles[player.role]}}</span></dd>
      <dt>World of Tanks Profile</dt>
      <dd><a href="{{player.openid}}">Link</a></dd>
      <dt>WoTLabs Signature (might be outdated):</dt>
      <dd><img src="http://wotlabs.net/sig_cust/EEEEEE/060606/{{g.WOT_SERVER_REGION_CODE}}/{{player.name}}/signature.png"/></dd>
      <dt>Other tools</dt>
      <dd><a href="https://duckandcover.ru/wotka?search=acc&nickname={{player.name}}&server={{g.WOT_SERVER_REGION_CODE.upper()}}">Clan history (duckandcover.ru/wotka)</a></dd>
      <dd><a href="http://www.feldzug.net/{{g.WOT_SERVER_REGION_CODE}}-stats/{{player.name}}">feldzug.net</a></dd>
      <dd><a href="http://www.noobmeter.com/player/{{g.WOT_SERVER_REGION_CODE}}/{{player.name}}/{{player.wot_id}}/">Noobmeter</a></dd>
  </dl>
{% endblock %}