{% extends "layout.html" %}
{% block title %}{{g.player.name}}{% endblock %}
{% block head %}
    {{super()}}
    <script src="{{url_for('static', filename='js/vendor/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/vendor/dataTables.bootstrap.js')}}" type="text/javascript"></script>
    <link href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}" rel="stylesheet" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.time.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var table = $('#battles').dataTable({
                "oLanguage": {
                    "sLengthMenu": "Display _MENU_ battles per page",
                    "sZeroRecords": "No battles yet.",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ battles",
                    "sInfoEmpty": "Showing 0 to 0 of 0 battles",
                    "sInfoFiltered": "(filtered from _MAX_ total battles)"
                },
                "aaSorting": [
                    [0, "desc"]
                ],
                "aoColumns": [
                    { "bVisible": false },
                    { "sType": "date-euro-anchor"},
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    {"bSortable": false},
                    {"bSortable": false},
                    {"bSortable": false}
                ],
            });


            $('#battles_filter label input').addClass('form-control');
            $('#battles_length label select').addClass('form-control');

            var battles_per_day = [
             {% for bpd in battles_per_day %}
               [{{bpd.0}}, {{bpd.1}}],
             {% endfor %}
            ];

            var player_battles_per_day = [
             {% for bpd in player_battles_per_day %}
               [{{bpd.0}}, {{bpd.1}}],
             {% endfor %}
            ];

            var battles_per_day_data = [
                {
                    label: '{{g.player.name}}',
                    data: player_battles_per_day
                },
                {
                    label: '{{g.player.clan}}',
                    data: battles_per_day
                }
            ];

            $.plot("#battles_per_day", battles_per_day_data , {
                xaxis: {
                    mode: "time",
                    timeformat: "%e %b",
                    minTickSize: [1, "day"],
                },
                yaxis: {
                    min: 0,
                    tickSize: 1,
                    tickDecimals: 0
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
  <h2>Profile</h2>
  <p>
      <i class="icon-info icon-2x"></i> Optional information about yourself.
  </p>
  <form class="form-horizontal" role="form" action="{{url_for('profile')}}" method=post>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email address</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" name="email" id="email" placeholder="email" value="{{g.player.email or ''}}">
        </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-default">Save</button>
          </div>
      </div>
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  </form>
  <h4>Performance statistics</h4>
  <dl class="dl-horizontal">
    <dt>Played</dt>
    <dd>{{performance.battle_count[g.player]}}</dd>
    <dt>Avg. Damage</dt>
    <dd>{{performance.avg_dmg[g.player]|round|int }}</dd>
    <dt>Avg. Kills</dt>
    <dd>{{performance.avg_kills[g.player]|round(2) }}</dd>
    <dt>Avg. Spot Dmg.</dt>
    <dd>{{performance.avg_spot_damage[g.player]|round|int }}</dd>
    <dt>Survival rate.</dt>
    <dd>{{(performance.survival_rate[player] * 100.0)|round(1)}} %</dd>
    <dt>Avg. Spotted</dt>
    <dd>{{performance.avg_spotted[g.player]|round(2) }}</dd>
    <dt>Avg. Pot. Dmg.</dt>
    <dd>{{performance.avg_pot_damage[g.player]|round|int }}</dd>
    <dt>Avg. decap</dt>
    <dd>{{performance.avg_decap[g.player]|round(2) }}</dd>
    <dt>Avg. Tier</dt>
    <dd>{{performance.avg_tier[g.player]|round(2) }}</dd>
    <dt>WN7</dt>
    <dd>{{performance.wn7[g.player]|round|int}}</dd>
  </dl>
  <h4>Played battles</h4>
  <table id="battles" class="table table-striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Type</th>
            <th>Map</th>
            <th>Province</th>
            <th>Commander</th>
            <th>Outcome</th>
            <th>Enemy</th>
            <th>Player</th>
            <th>Reserve</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for battle in played_battles %}
        {% if not battle.battle_group or (battle.battle_group and battle.battle_group.get_representative_battle() == battle) %}
        <tr>
            <td>{{battle.id}}</td>
            <td><a href="{{url_for('battle_details', battle_id=battle.id)}}">{{battle.date.strftime('%d.%m.%Y %H:%M:%S')}}</a></td>
            <td>
                {% if battle.battle_group %}
                    <a href="{{url_for('battle_group_details', group_id=battle.battle_group.id)}}">
                    {% if battle.battle_group_final %}
                        Final
                    {% else %}
                        Landing battle
                    {% endif %}
                    </a>
                {% else %}
                    Normal
                {% endif %}
            </td>
            <td>{{battle.map_name}}</td>
            <td>{{battle.map_province}}</td>
            <td><span class="{{battle.battle_commander.role}}">{{battle.battle_commander.name}}</span></td>
            <td><span class="{{battle.outcome_str().lower()}}">{{battle.outcome_str()}}</span></td>
            <td>{{battle.enemy_clan}}</td>
            <td>{{battle.get_players()|length}}</td>
            <td>{{battle.get_reserve_players()|length}}</td>
            <td>
                {% if not battle.battle_group %}
                {% if g.player.clan == clan and g.RESERVE_SIGNUP_ALLOWED %}
                    {% if not battle.has_player(g.player) and not battle.has_reserve(g.player) %}
                    <a href="{{url_for('sign_as_reserve', battle_id=battle.id)}}" class="confirm-sign btn btn-primary btn-sm">Sign as reserve</a>
                    {% elif battle.has_reserve(g.player) %}
                    <a href="{{url_for('unsign_as_reserve', battle_id=battle.id)}}" class="btn btn-danger btn-sm">Remove from reserve</a>
                    {% endif %}
                {% endif %}
                {% endif %}
            </td>
            <td>
                {% if battle.battle_group %}
                    <a href="{{url_for('battle_group_details', group_id=battle.battle_group.id)}}" class="btn btn-primary btn-sm" title="Show landing battles"><i class="icon-list"></i></a>
                {% endif %}
            </td>
            <td>
                {% if battle.paid %}
                <span class="label label-success">paid</span>
                {% endif %}
            </td>

        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
  </table>

    <div class="row">
        <div class="panel panel-default">
        <div style="min-height: 170px;" class="panel-body">
            <div class="col-lg-12">
                <h4>Battles per Day</h4>
                <div id="battles_per_day" style="height: 300px"></div>
            </div>
        </div></div>
    </div>

{% endblock %}