{% extends "layout.html" %}
{% block title %}Payout battles{% endblock %}
{% block head %}
    {{super()}}
    <script src="{{url_for('static', filename='js/vendor/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/vendor/dataTables.bootstrap.js')}}" type="text/javascript"></script>
    <link href="{{url_for('static', filename='css/dataTables.bootstrap.css')}}" rel="stylesheet" media="screen">

    <script type="text/javascript">
        $(document).ready(function () {

            $('#players').dataTable({
                "bPaginate": false,
            });

            $('#players_filter label input').addClass('form-control');
            $('#players_length label select').addClass('form-control');
        });

        var fnShowHide = function( iCol )
        {
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var oTable = $('#players').dataTable();

            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis( iCol, bVis ? false : true );
        };

        var toggleDetails = function() {
            fnShowHide(2);
            fnShowHide(3);
            fnShowHide(4);
            fnShowHide(5);
            fnShowHide(6);
            fnShowHide(7);
            fnShowHide(8);
            fnShowHide(9);
        };
    </script>
{% endblock %}
{% block content %}
    <form>
        <input type="hidden" name="fromDate" value="{{fromDate}}">
        <input type="hidden" name="toDate" value="{{toDate}}">
        <input type="hidden" name="gold" value="{{gold}}">
        {% if victories_only %}
        <input type="hidden" name="victories_only" value="on">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        {% endif %}
    </form>
    <h3>Summary of {{gold}} gold to pay out for {{battles|length}} battle{{'s' if battles|length != 1 else ''}}</h3>
    <p><strong>TODO</strong> This page should help the treasurer pay out the gold for the selected battles (e.g. battles
        of one week at a time). He could of course also only pay battle per battle. etc.
    </p>
    <p>Current implementation:
       A player gains points for battles as follows:
        <ul>
            <li>2.5 for commanding a victory</li>
            <li>2 for commanding a loss/draw</li>
            <li>2.5 for playing in a victory</li>
            <li>2 for playing in a loss/draw</li>
            <li>1 for being a reserve</li>
            <li>Leadership members (special payout enabled) receive 2% of the gold ({{ num_leaders }} members with special payout flag, {{ gold_leaders|round }} gold each)</li>
        </ul>
        The points are summed up. The player receives a share of the gold proportional to his points divided by the total number of
        points distributed.
    </p>
    <a class="btn btn-primary" onclick="toggleDetails();" href="javascript:void(0);">Toggle Details</a>
    <table id="players" class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Special payout</th>
                <th># battles commanded won</th>
                <th># battles commanded drawn</th>
                <th># battles commanded lost</th>
                <th># battles played</th>
                <th># battles won</th>
                <th># battles drawn</th>
                <th># battles lost</th>
                <th># battles reserve</th>
                <th>Points</th>
                <th>Note</th>
                <th>Gold to pay</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players|sort(attribute="name") %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{% if player.special_payout %}<i class="icon-ok"></i>{% endif %}</td>
                <td>{{player_fced_win[player]}}</td>
                <td>{{player_fced_draws[player]}}</td>
                <td>{{player_fced_defeat[player]}}</td>
                <td>{{player_played[player]}}</td>
                <td>{{player_victories[player]}}</td>
                <td>{{player_draws[player]}}</td>
                <td>{{player_defeats[player]}}</td>
                <td>{{player_reserve[player]}}</td>
                <td>{{player_points[player]}}</td>
                <td>{{player.note or ''}}</td>
                <td>{{player_gold[player]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
