{% extends "layout.html" %}
{% block title %}Battles of {{ clan }}{% endblock %}
{% block head %}
    {{super()}}

{% endblock %}
{% block content %}
    <h2>Battle details <img style="width:32px; height:32px;" src="{{url_for('static', filename='img/clanicons/' + battle.clan + '.png')}}"/> {{battle.clan}}  vs. {{battle.enemy_clan}}</h2>
    <div class="row">
        <dl class="col-lg-3">
            <dt>Battle added by</dt>
            <dd><span class="{{battle.creator.role}}">{{battle.creator.name}}</span></dd>
            <dt>Outcome</dt>
            <dd><span class="{{battle.outcome_str().lower()}}">{{battle.outcome_str()}}</span></dd>
            <dt>Map</dt>
            <dd>{{battle.map_name}}</dd>
            <dt>Province</dt>
            <dd>{{battle.map_province}}</dd>
            <dt>Battle Commander</dt>
            <dd><span class="{{battle.battle_commander.role}}">{{battle.battle_commander.name}}</span></dd>
            <dt>Date</dt>
            <dd>{{battle.date.strftime('%d.%m.%Y %H:%M:%S')}}</dd>
            {% if battle.description %}
            <dt>Description</dt>
            <dd>{{battle.description}}</dd>
            {% endif %}
        </dl>
        <dl class="col-lg-3">
            <dt>Players ({{battle.get_players()|length}})</dt>
            <dd>
                <ul>
                {% for player in battle.get_players()|sort(attribute='name') %}
                    <li><a href="{{url_for('player', player_id=player.id)}}">{{player.name}}</a></li>
                {% endfor %}
                </ul>
            </dd>
        </dl>
        <dl class="col-lg-3">
            <dt>Reserve Players ({{battle.get_reserve_players()|length}})</dt>
            <dd>
                <ul>
                {% for player in battle.get_reserve_players()|sort(attribute='name') %}
                    <li>{{player.name}}</li>
                {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
    <dl>
        <dt>Replay</dt>
        <dd><a href="{{url_for('download_replay', battle_id=battle.id)}}"><i class="icon-download"></i> Download</a></dd>
    </dl>
{% endblock %}