{% extends "layout.html" %}
{% block title %}Battles of {{ clan }}{% endblock %}
{% block head %}
    {{super()}}
    <link href="{{url_for('static', filename='css/token-input.css')}}" rel="stylesheet" media="screen">
    <script src="{{url_for('static', filename='js/jquery.tokeninput.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var postChanges = function() {
            var data = $("#reserves").tokenInput("get");
            $.ajax({
                type : "PUT",
                url : "{{ url_for('battle_reserves_update', battle_id=battle.id) }}",
                data: JSON.stringify(data, null, '\t'),
                contentType: 'application/json;charset=UTF-8'
            });
        }

        $("#reserves").tokenInput("{{ url_for('reserve_players_json', clan=g.player.clan, battle_id=battle.id) }}", {
            searchDelay: 0,
            jsonContainer: 'players',
            prePopulate: [
                {% for player in battle.get_reserve_players() %}
                    {id: {{player.id}}, name: "{{ player.name }}"},
                {% endfor %}
            ],
            searchingText: '',
            hintText: 'Type a player name',
            noResultsText: 'No players with this name (or player already in this battle)',
            onAdd: postChanges,
            onDelete: postChanges,
            preventDuplicates: true
        });

        $("a.confirm-sign").on("click", function (e) {
            var link = this;

            e.preventDefault();

            $("<div style=\"font-size: normal\">Sign in as reserve?<br>" +
            "<br><i style=\"color: yellow; margin-right: 20px\" class=\"icon-warning-sign icon-2x\"></i><strong style=\"color: red\">Make sure you count as reserve. Abuse of the system by signing yourself " +
            "as reserve if you weren't will have consequences.</strong></div>").dialog({
                width: 600,
                buttons: {
                    "Sign as reserve": function () {
                        window.location = link.href;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    });
    </script>

    <style type="text/css">
        ul.token-input-list {
            background: transparent;
            border: none;
        }
        #token-input-reserves {
            width: 100%;
            border-radius: 3px;
        }
        li.token-input-token > p {
            width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
        }
    </style>
{% endblock %}
{% block content %}
    <h2>Battle details <img style="width:32px; height:32px;" src="{{url_for('static', filename='img/clanicons/' + battle.clan + '.png')}}"/> {{battle.clan}}  vs. {{battle.enemy_clan}}</h2>
    <div class="row">
        <dl class="col-lg-3">
            <dt>Battle added by</dt>
            <dd><a href="{{url_for('player', player_id=battle.creator.id)}}"><span class="{{battle.creator.role}}">{{battle.creator.name}}</span></a></dd>
            <dt>Outcome</dt>
            <dd><span class="{{battle.outcome_str().lower()}}">{{battle.outcome_str()}}</span></dd>
            <dt>Map</dt>
            <dd>{{battle.map_name}}</dd>
            <dt>Province</dt>
            <dd>{{battle.map_province}}</dd>
            <dt>Battle Commander</dt>
            <dd><a href="{{url_for('player', player_id=battle.battle_commander.id)}}"><span class="{{battle.battle_commander.role}}">{{battle.battle_commander.name}}</span></a></dd>
            <dt>Date</dt>
            <dd>{{battle.date.strftime('%d.%m.%Y %H:%M:%S')}}</dd>
            {% if battle.description %}
            <dt>Description</dt>
            <dd>{{battle.description}}</dd>
            {% endif %}
        </dl>
        <dl class="col-lg-2">
            <dt>Players ({{battle.get_players()|length}})</dt>
            <dd>
                <ul>
                {% for player in battle.get_players()|sort(attribute='name') %}
                    <li><a href="{{url_for('player', player_id=player.id)}}">{{player.name}}</a></li>
                {% endfor %}
                </ul>
            </dd>
        </dl>
        <dl class="col-lg-2">
            <dt>Reserve Players</dt>
            {% if g.player.role in g.CREATE_BATTLE_ROLES or g.player.name in g.ADMINS %}
                <input class="form-control" type="text" id="reserves" name="reserves"/>
            {% else %}
            <dd>
                <ul>
                {% for player in battle.get_reserve_players()|sort(attribute='name') %}
                    <li><a href="{{url_for('player', player_id=player.id)}}">{{player.name}}</a></li>
                {% endfor %}
                </ul>
            </dd>
            {% endif %}
            {% if g.player.clan == battle.clan and g.RESERVE_SIGNUP_ALLOWED %}
                <p style="margin-top: 10px">
                {% if not battle.has_player(g.player) and not battle.has_reserve(g.player) %}
                    <a href="{{url_for('sign_as_reserve', battle_id=battle.id)}}?back_to_battle" class="confirm-sign btn btn-primary btn-sm">Sign as reserve</a>
                {% elif battle.has_reserve(g.player) %}
                    <a href="{{url_for('unsign_as_reserve', battle_id=battle.id)}}?back_to_battle" class="btn btn-danger btn-sm">Remove from reserve</a>
                {% endif %}
                </p>
            {% endif %}
        </dl>
        {% if battle.replay.unpickle() %}
        <dl class="col-lg-5">
            <strong>Replay Details</strong>
            {% set replay = battle.replay.unpickle() %}
            {% include "replay_details.html" %}
        </dl>
        {% endif %}
    </div>
    <dl>
        <dt>Replay</dt>
        <dd><a href="{{url_for('download_replay', battle_id=battle.id)}}"><i class="icon-download"></i> Download</a></dd>
    </dl>
{% endblock %}