{% extends "layout.html" %}
{% block title %}Add battle{% endblock %}
{% block head %}
    {{super()}}
    <link href="{{url_for('static', filename='css/multi-select.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/vendor/jquery.multi-select.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/vendor/jquery.quicksearch.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/wotdata.js')}}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#players').multiSelect({
                keepOrder: true,
                selectableHeader: "<strong>Clan players</strong>",
                selectionHeader: "<strong>Attending players</strong>"
            });

            $('#battle_group_create').hide();
            $('#battle_group_final_div').hide();

            $('#battle_group').change(function() {
                var id = parseInt($('#battle_group option:selected').val());
                if (id === -2) {
                    // "not in a group"
                    $('#battle_group_create').hide('fast');
                    $('#battle_group_final_div').hide('fast');
                } else if (id === -1) {
                    $('#battle_group_create').show('fast');
                    $('#battle_group_final_div').show('fast');
                } else {
                    $('#battle_group_create').hide('fast');
                    $('#battle_group_final_div').show('fast');
                }
            });

            $('#battle_group').change();

            var updateProvinces = function() {
                var provinces = PROVINCES_BY_MAP[$('#map_name').val()].sort();
                if (provinces) {
                    var output = [];
                    $('#province').html("");
                    $.each(provinces, function(key, value)
                    {
                      output.push('<option value="'+ value +'">'+ value +'</option>');
                    });
                    $('#province').html(output.join(''));
                }
                return true;
            }

            $('#map_name').keyup(function() {
                updateProvinces();
            });

            $('#map_name').blur(function() {
                updateProvinces();
            });

            {% if map_name %}
            updateProvinces();
            {% endif %}
        });
    </script>
{% endblock %}
{% block content %}
    <h2>Add battle</h2>
        <div class="row">
        <div class="col-lg-8">
            {% if filename %}
            <p class="alert alert-info"><strong>Please check</strong> if the information below obtained from the replay is complete and confirm by pressing
            'Create Battle' at the bottom.</p>
            {% else %}
            <p class="alert alert-warning"><strong>Note</strong> that the preferred way of adding battles is by <a href="{{url_for('create_battle_from_replay')}}">uploading a replay</a>.</p>
            {% endif %}
            <form class="form-horizontal" action="{{url_for('create_battle')}}" method="POST" role="form" enctype="multipart/form-data">

              <div class="form-group">
                <label for="date" class="col-lg-2 control-label">Date &amp; Time</label>
                <div class="col-lg-10">
                <input placeholder="dd.mm.yyyy hh:mm:ss" class="form-control" type="text" id="date" name="date" value="{{date.strftime('%d.%m.%Y %H:%M:%S') if date else ''}}">
                </div>
              </div>

              <div class="form-group">
                <label for="map_name" class="col-lg-2 control-label">Duration (sec)</label>
                <div class="col-lg-10">
                <input  class="form-control" type="text" id="duration" name="duration" value="{{duration}}">
                </div>
              </div>

              <div class="form-group">
                <label for="map_name" class="col-lg-2 control-label">Map</label>
                <div class="col-lg-10">
                <input  class="form-control" type="text" id="map_name" name="map_name" value="{{map_name}}">
                </div>
              </div>

              <div class="form-group">
                <label for="province" class="col-lg-2 control-label">Province(s)</label>
                <div class="col-lg-10">
                <select size="1" class="form-control" id="province" name="province">
                    {% if province %}
                    <option value="{{province}}">{{province}}</option>
                    {% endif %}
                </select>
                </div>
              </div>

              <div class="form-group">
                  <label for="battle_commander" class="col-lg-2 control-label">Battle commander</label>
                  <div class="col-lg-10">
                  <select class="form-control" id="battle_commander" name="battle_commander">
                      {% for player in sorted_players %}
                      <option value="{{player.id}}" {{'selected="selected"' if player.id==battle_commander else ''}}>{{player.name}}</option>
                      {% endfor %}
                  </select>
                  </div>
              </div>

              <div class="form-group">
                <label for="enemy_clan" class="col-lg-2 control-label">Enemy clan</label>
                <div class="col-lg-10">
                <input placeholder="Enemy clan tag" class="form-control" type="text" id="enemy_clan" name="enemy_clan" value="{{enemy_clan}}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">Outcome</label>
                    <div class="col-lg-10">
                      <div class="radio">
                      <input type="radio" name="battle_result" id="battle_result_victory" value="victory" {% if battle_result == 'victory' %}checked{% endif%}> Victory
                      </div>
                      <div class="radio">
                      <input type="radio" name="battle_result" id="battle_result_defeat" value="defeat" {% if battle_result == 'defeat' %}checked{% endif%}> Defeat
                      </div>
                      <div class="radio">
                      <input type="radio" name="battle_result" id="battle_result_draw" value="draw" {% if battle_result == 'draw' %}checked{% endif%}> Draw
                      </div>
                    </div>
              </div>

              <div class="form-group">
                  <label for="battle_commander" class="col-lg-2 control-label">Battle Group</label>
                  <div class="col-lg-10">

                  <select class="form-control" id="battle_group" name="battle_group">
                      <option value="-2">Not in a group</option>
                      <option value="-1">Create a new group</option>
                      {% for battle_group in battle_groups %}
                        <option value="{{battle_group.id}}" {{'selected' if battle_group.id==battle_group_id else ''}}>{{battle_group.date.strftime('%d.%m.%Y %H:%M:%S')}} - {{battle_group.title}}</option>
                      {% endfor %}
                  </select>
                  <div id="battle_group_create">
                     <strong>Title:</strong>
                     <input class="form-control" type="text" name="battle_group_title" id="battle_group_title" placeholder="Short title for this battle group">
                     <strong>Description:</strong>
                     <textarea rows=4 placeholder="Description of the battle group" class="form-control" id="battle_group_description" name="battle_group_description">{{battle_group_description}}</textarea>
                  </div>
                  <div id="battle_group_final_div">
                   <div class="checkbox">
                    <label>
                      <input type="checkbox" id="battle_group_final" name="battle_group_final"> Final landing battle (against province owner or the tournament defeat)
                    </label>
                  </div>
                  </div>
                  </div>
              </div>

              <div class="form-group">
                <label for="description" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                <textarea rows=4 placeholder="Description of the battle, such as province, encounter/defense/assault etc." class="form-control" id="description" name="description">{{description}}</textarea>
                </div>
              </div>

              <div class="form-group">
                  <label for="players" class="col-lg-2 control-label">Players</label>
                  <div class="col-lg-10">
                  <select class="form-control" multiple="multiple" id="players" name="players">
                      {% for player in all_players %}
                      <option value="{{player.id}}" {% if player in players %}selected{%endif%}>{{player.name}}</option>
                      {% endfor %}
                  </select>

                  <p class="help-block">Move the players that played in this battle to the right.</p>
                  </div>
              </div>

              <div class="form-group">
                <label for="replay" class="col-lg-2 control-label">Replay</label>
                <div class="col-lg-10">
                {% if filename %}
                <p class="form-control-static">{{filename}}</p>
                {% else %}
                <input type="file" id="replay" name="replay">
                {% endif %}
                </div>
              </div>

              <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
              <input type="hidden" name="filename" value="{{filename}}">
              <input type="hidden" name="folder" value="{{folder}}">


                <div class="col-lg-offset-2 col-lg-10"><button type="submit" class="btn btn-success">Create this battle</button></div>

            </form>
        </div>
        <div class="col-lg-4">
            {% if replay %}
                <h4>Replay information</h4>
                {% include 'replay_details.html' %}
            {% endif %}
        </div>
       </div>



{% endblock %}